@import 'tailwindcss';

* {
  font-family: 'Orbitron', sans-serif;
}

.heading {
  @apply text-2xl  font-bold text-white underline underline-offset-6 decoration-indigo-500;
}

.paragraph {
  @apply text-base text-gray-600 leading-relaxed;
}

.containerx {
  @apply bg-black px-2 py-4 text-white space-y-2;
}

/* Default toast style */
.responsive-toast {
  font-size: 1rem;
  padding: 1rem 1.5rem;
}

/* On mobile: smaller font and padding */

@media (max-width: 768px) {
  .responsive-toast {
    font-size: 1rem !important;
    padding: 1rem 1.5rem !important;
    min-height: auto !important;
    max-width: 90% !important; /* Reduce toast width */
    width: fit-content !important;
  }
}
